AUTH_SECRET= # `npx auth secret` or `openssl rand -hex 32`

AUTH_AUTH0_ID=
AUTH_AUTH0_SECRET=
AUTH_AUTH0_ISSUER=

AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=174274796007-75qmckk51irgj0eentqr7armskkle9qo.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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

AUTH_TWITTER_ID=
AUTH_TWITTER_SECRET=

# THIRD_PARTY_API_EXAMPLE_BACKEND= # Read more at https://authjs.dev/guides/integrating-third-party-backends

# AUTH_TRUST_HOST=1 # Read more at https://authjs.dev/getting-started/deployment#auth_trust_host
